body{
    background-color: rgb(31, 70, 31);
    padding: 20px;
}
#current-date-time{
    position: fixed;
    left: 60px;
}
#count-down{
    position: fixed;
    right: 60px;
}
h1{
    font-family: "times new roman";
    font-size: 50px;
    color: #d2ff9e;
    text-align: center;
}

table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
td img{
    width: auto;
    height: 50px;
}
caption{
    display: none;
}
th {
    background-color:#d2ff9e;
    font-size: large;
}
td{
    padding-left:5px;
    width:250px;
    height: 70px;
    font-size: 25px;
    border-bottom: 10px;
    border-bottom-color: rgb(31, 70, 31);
    border-bottom-style: solid;
    color: white;
}
tr{
    margin-top: 15px;
}
tr:nth-child(even) {
  background-color: #222222;
}
tr:nth-child(odd) {
  background-color: black;
}
button.add{
    height: 50px;
    width: 170px;
    background-color: #d2ff9e;
    border-radius: 25px;
    color: black;
}
button.remove{
    height: 50px;
    width: 170px;
    background-color: rgb(255, 123, 123);
    border-radius: 25px;
    color: white;
}